# Build
client/FolderOrganizerLauncher/bin/
client/FolderOrganizerLauncher/obj
client/ElectronLauncher/dist

# Visual Studio
.vs/

# Publish output
publish/

# Node.js
node_modules
site/node_modules
.env
